/* Default styling 
:root{
    --bg-Color: #111;
    --text-Color:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-Color);
    /* color: var( --text-Color); */
}
h1 ul li p span h2 h3 {
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
} */
