.container{
    background-color: aqua;
    padding: 15px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;    /* flex-wrap: wrap; height and width ke acording item align karta ha  scren size ke  acording and mobike frendly */
    /* flex-wrap: wrap-reverse;  show item ulte */
    /* flex-flow: row-reverse; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    align-items: stretch;
}

.item{
    background-color: red;
    color: white;
    padding: 10px 15px;
    margin: 10px 0px;
    height: 100px;
    width: 100px;
    margin: 30px;
}